Tests: test
Restrictions: allow-stderr isolation-container needs-root
Depends: perl,
         liblist-moreutils-perl,
         liblwp-useragent-determined-perl,
         libclass-spiffy-perl,
         libipc-run-perl,
         libreadonly-perl,
         libmodule-build-perl,
         libmodule-build-tiny-perl,
         libextutils-config-perl,
         libextutils-helpers-perl,
         libextutils-installpaths-perl,
         libio-pty-perl,
         libtest-base-perl,
         libalgorithm-diff-perl,
         libtest-longstring-perl,
         nginx,
         nginx-common,
         nginx-core,
         libnginx-mod-http-ndk,
         libnginx-mod-http-lua,
         @,
         @builddeps@,

Tests: nginxtest
Restrictions: allow-stderr isolation-container needs-root
Depends: curl,
         nginx,
         nginx-common,
         nginx-core,
         libnginx-mod-http-ndk,
         libnginx-mod-http-lua,
         @,
         @builddeps@,
